/* Animations for Side Menu */
@keyframes slide-in{
    from {
        top: 0;
        right: -350px;
    }
    to {
        top: 0;
        right: -350px;
    }
}

@keyframes slide-out{
    from {
        top: 0;
        right: -350px;
    }
    to {
        top: 0;
        right: -350px;
    }
}