@import
    "variables/index.scss",
    "mixins/index.scss",
    "../OwlCarousel/src/scss/owl.carousel.scss",
    "main-sections/index"
;

body{
    position: relative;
    padding: 0px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 1.42857143;
    color: #666;
    overflow-x: hidden;
    div#main-outer-container{
        background-color: #fff;
        position: relative;
        z-index: $main-outer-container_z-index;
        div.main-inner{
            div#header-wrapper-sticky-wrapper{
                height: inherit !important;
                div#container{
                    transition: 3s;
                }
            }
        }
    }
    div#cookie-app{
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: $cookie-app_z-index;
        background: #75788a;
        border: solid #75788a;
        border-width: 1px 1px 0 0;
        border-top-right-radius: 10px;
        &:hover{
            background-color: #999aa2;
            border-color: #999aa2;
            box-shadow: 0 3px 35px rgba(0,0,0,.1);
        }
        display: none;
    }
    div#cookie-policy-popup-container{
        visibility: hidden;//initially hidden on page load
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $cookie-policy-popup-container_z-index;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        display: none;
    }
    div#side-menu-container{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        z-index: $side-menu-container_z-index;
        width: 100%;
        height: 100vh;
        transition: .5s;
        &.toggle-side-menu-in{
            display: block;
            animation-name: slide-in;
        }
        &.toggle-side-menu-out{
            animation-name: slide-out;
        }
        div#side-menu{
            position: absolute;
            top: 0;
            right: 0;
            padding: 0; margin: 0;
            background-color: #333645;
            width: 275px;
            height: 100vh;
            overflow: auto;
            transition: .3s;
            &.toggle-side-menu-in{
                display: block;
                animation-name: slide-in;
            }
            &.toggle-side-menu-out{
                animation-name: slide-out;
            }
            @media (min-width: 992px){
                width: 350px;
            }
        }
        div#side-menu_background-filter{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            height: 100vh;
            width: calc(100% - 275px);
            transition: .3s ease;
            @media (min-width: 992px){
                width: calc(100% - 350px);
            }
        }
    }
    div#main-outer-container{
        overflow-x: hidden;
        div#container{
            scroll-behavior: smooth;
            width: 100%;
            height: 100%;
            position: relative;
            //greater than side-menu z-index
            z-index: $main-outer-container_z-index;
            transition: .1s;
            &.slide-left{
                left: -275px;
                @media (min-width: 992px){
                    left: -350px;
                }
            }
            &.slide-right{
                left: 0;
            }
            div.main-outer{
                height: 100%; 
                div.main-inner{
                    //sticky header
                    div#header-wrapper{
                        position: relative; 
                        z-index: $sticky-header-wrapper_z-index;
                        background-color: #fff;
                        div#header{} 
                        div#nav{background-color: #333645;}
                    }
                    div#banner{} 
                    div#middle{}
                    div#accreditations{}
                    div#about-netmatters{}
                    div#latest-news{} 
                    div#our-clients{}
                }   
                footer{}
                div#footer-bottom{}    
            }
        }
    }
}