//banner image uri
@function get-banner--image-uri($image-id){
    @if($image-id == 'bespoke-software' or $image-id == 'web-design'){
        @return '#{$image-id}.jpg';
    }@else{
        @return '#{$image-id}.png';
    }
}
//banner button background color
@function get-banner--button--bg-color($image-id){
    @if($image-id == 'why-choose-us' or $image-id == 'web-design'){
        @return $wisteria;
    }@else if $image-id == 'bespoke-software'{
        @return $buttercup;
    }@else if $image-id == 'it-support'{
        @return $havelockBlue;
    }@else if $image-id == 'digital-marketing'{
        @return $shamrock;
    }@else if $image-id == 'telecoms-services'{
        @return $valencia;
    }@else if $image-id == 'cyber-security'{
        @return $radicalRed;
    }
}
//banner content wrapper - padding top @media screen >= 992px
@function get-banner--body-wrapper--padding-top($image-id){
    @if $image-id == 'why-choose-us'{
        @return 5%;
    }@else{
        @return 10%;
    }
}
// hsla(0,0%,100%,.5)
$owl-dot--bgcolor: #d6d6d6;
$owl-dot--bgcolor--active: white;
$owl-dot--bgcolor--hover: #869791;