$bg-drop-down-bespoke-software: #526781;
$bg-drop-down-it-support: #286abd;
$bg-drop-down-digital-marketing: #25a25a;
$bg-drop-down-telecoms-services: #bc2c28;
$bg-drop-down-web-design: #79539a;
$bg-drop-down-cyber-security: #de093f;
$bg-drop-down-developer-course: #a3331d;
