// colors
//Bespoke software
$hoki: #67809f;
$buttercup: #f7b322;
$buttercup-hover:#e8a008;
$buttercup-hover-border-color: #d49308;
//IT support
$havelockBlue: #4183d7;
$havelockBlue-hover: #166af4;
$havelockBlue-clients-hover-bg-color:#2a6ec6;
$havelockBlue-clients-hover-border-color: #2665b5;
//Digital marketing
$shamrock: #2ecc71;
$shamrock-hover: #009b69;
$shamrock-clients-hover-bg-color:#26ab5f;
$shamrock-clients-hover-border-color: #239a55;
//Telecoms services
$valencia: #d64541;
//Web design
$wisteria: #926fb1;
$wisteria-hover: #7e57a0;
$wisteria-clients-hover-bg-color:#7e57a0;
$wisteria-clients-hover-border-color: #735093;
//Cyber security
$radicalRed: #f62459;
//Dev training
$punch: #ce4125;
