// SERVICES 
// colors
//Bespoke software
$hoki: #67809f;
$buttercup: #f7b322;
//IT support
$havelockBlue: #4183d7;
//Digital marketing
$shamrock: #2ecc71;
//Telecoms services
$valencia: #d64541;
//Web design
$wisteria: #926fb1;
//Cyber security
$radicalRed: #f62459;
//Dev training
$punch: #ce4125;

// font-sizes
$service-icon: (fs: 2rem, );
$service-h3: (fs: 1.3rem);
$service-para: (fs: .8125rem);
$service-btn: (fs: 1rem);
