$main-outer-container_z-index: 10;
$side-menu-container_z-index: 0;

$main-navigation-dropdown_z-index: 20;
$sticky-header-wrapper_z-index: 50;

$header_z-index: $sticky-header-wrapper_z-index;
$nav_z-index: $sticky-header-wrapper_z-index;

$nav-drop-down-option_z-index: 10;
$nav-drop-down-triangle_z-index: $main-navigation-dropdown_z-index;

$div-container_z-index: 10;
$side-menu_z-index: 10;

$carousel-item_z-index: 30;
$tooltip-container_z-index: $carousel-item_z-index;
$tooltip_z-index: $carousel-item_z-index;
$tooltip-arrow_z-index: $carousel-item_z-index;

$cookie-app_z-index: 50;
$cookie-policy-popup-container_z-index: $cookie-app_z-index;