div.accreditations-container{
    @media (min-width: 768px){
        margin-top: 60px;
    }
    div.slick-list{
        div.slick-track{
            background-color: white;
            margin: 40px 0 70px 20px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 90px;
            @include client-partners-logo;
        }
    }
}