div.accreditations-container{
    @media (min-width: 768px){
        margin-top: 60px;
    }
    div.slick-list{
        div.slick-track{
            background-color: white;
            margin: 40px 0 45px 20px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 90px;
            img{
                margin: 0 auto;
                transform-style: preserve-3d;
                position: relative;
                padding: 0 20px;
                max-height: 70px;
                height: auto;
                width: auto !important;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%);
                }
            }
            @media (min-width: 992px){
                margin: 40px 0 55px 20px;
                img.princess-royal-training-logo.slick-slide{
                    height: 70px !important;
                }
            }
        }
    }
}