div.accreditations-container{
    @media (min-width: 768px){
        margin-top: 60px;
    }
    div.slick-list{
        div.slick-track{
            background-color: white;
            margin: 40px 0 70px 20px;
            width: 100%;
            height: 70px;
            display: flex;
            flex-wrap: nowrap;
            gap: 90px;
            @include client-partners-logo;
        }
    }
}