div.container{
    div.latest-news-headline{
        color: #333645;
        //temp margin, tbc
        margin: 30px auto;
        //
        h2{
            margin: 50px 0;
            strong{
                font-size: 2.7rem;
                line-height: 1.1;
                font-weight: 600;
            }
        }
        a{
            text-decoration: none;
            font-weight: 600;
            font-size: 1.625rem;
            color: #333645;
            &.sm{
                display: block;
                text-align: center;
            }
            &.md{ display: none;}
            &:hover{
                text-decoration: underline;
                outline: 0;
            }
        }
        @media (min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            a{
                &.sm{ display: none;}
                &.md{ display: inline-block;}
            }
        }
    }
    div#latest-news-main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        div#latest-news{
            margin: 30px 0;
            @media (min-width: 768px){
                display: flex;
                gap: 30px;
                div.latest-news-item{
                    width: calc(50% - 15px)
                }
            }
            @media (min-width: 1260px){
                gap: 30px;
                div.latest-news-item{
                    width: calc((100% / 3 ) - (30px * 2))
                }
            }
            div.latest-news-item{
                img{
                    max-width: 100%;
                    max-height: 50%;
                }
                &.md-screen-hidden{
                    @media (min-width: 768px) and (max-width: 1260px){
                        display: none;
                    }
                }
                div.news-item-body{
                    margin: 30px auto;
                    margin-top: -6px;
                    padding: 30px;
                    border-left: solid #ccc 1px;
                    border-bottom: solid #ccc 1px;
                    border-right: solid #ccc 1px;
                    border-radius: 3px;
                    h3{
                        a{
                            color: #d64541 !important;
                            text-decoration: none;
                            line-height: 1.5rem;
                            font-weight: 600;
                            margin-top: 30px;
                            transition: .5s ease;
                        }
                    }
                    p{
                        margin: 0 0 10px;
                        color: #666;
                        line-height: 1.375rem;
                        font-size: .8125rem;
                    }
                    button{
                        &.shamrock{@include read-more-button($shamrock)}
                        &.valencia{@include read-more-button($valencia)}
                        &.havelockBlue{@include read-more-button($havelockBlue)}
                    }
                    hr{
                        margin: 30px 0;
                        border: solid #ccc;
                        border-width: 1px 0 0 0;
                    }
                    footer{
                        padding: 0;
                        img{
                            float: left;
                        }
                        strong{
                            font-size: .875rem;
                            font-weight: 600;
                            color: #333645;
                            padding-left: 20px;
                            line-height: 1.375rem;
                        }
                        small{
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
}