div#main-navigation-dropdown{
    display: none;
    margin-top: -15px;
    position: absolute;
    z-index: $main-navigation-dropdown_z-index;
    // div#main-navigation-dropdown-container{
        div.main-navigation-dropdown-option-container{
            display: none;
            width: 100vw;
            margin-left: 15vw;
            // margin: -20px 0 0 4%;
            padding: 60px 5px 40px 5px;
            &:first-child{
                @include dropdown-option;
            }
            &:nth-child(2){
                @include dropdown-option;
            }
            &:nth-child(3){
                @include dropdown-option;
            }
            &:nth-child(4){
                @include dropdown-option;
            }
            &:nth-child(5){
                @include dropdown-option;
            }
            &:nth-child(6){
                @include dropdown-option;
            }
            &:last-child{
                @include dropdown-option;   
            }  
        }
    // }
}