div#middle{
    div.container{
        div.our-services-headline{
            color: #333645;
            //temp margin, tbc
            margin: 30px auto;
            //
            h2{
                margin: 50px 0;
                strong{
                    font-size: 2.7rem;
                    line-height: 1.1;
                    font-weight: 600;
                }
            }
            a{
                text-decoration: none;
                font-weight: 600;
                font-size: 1.625rem;
                color: #333645;
                &.sm{
                    display: block;
                    text-align: center;
                }
                &.md{ display: none;}
                &:hover{
                    text-decoration: underline;
                    outline: 0;
                }
                
                // span{
                // cant find the right arrow
                //     em{}
                // }
            }
            @media (min-width: 768px){
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                a{
                    &.sm{ display: none;}
                    &.md{ display: inline-block;}
                }
            }
        }
        div#our-services-container{
            div#top-services{
                ul{
                    padding: 0;

                    li:first-child{ @include service(bs);}
                    li:nth-child(2){ @include service(it);}
                    li:last-child{ @include service(dm);}

                    @media (min-width: 992px){
                        display: flex;
                        gap: 30px;

                        li{
                            width: calc(100% / 3);
                            display: flex;
                            a{
                                div{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    button{
                                        margin-top: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div#bottom-services{
                // display: none;
                ul{
                    padding: 0;

                    li:first-child{ @include service(ts);}
                    li:nth-child(2){ @include service(wd);}
                    li:nth-child(3){ @include service(cs);}
                    li:last-child{ @include service(dt);}
                }

                @media (min-width: 768px){
                    //remove unwanted extra space
                    margin-top: -16px;
                    //
                    ul{
                        display: grid;
                        grid-template-columns: repeat(2, calc( (100% - ( 30px * 2)) / 2) );
                        column-gap: 30px;

                        li{
                            display: flex;
                            a{
                                div{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    button{
                                        margin-top: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                @media (min-width: 1260px){
                    ul{
                        grid-template-columns: repeat(4, calc( (100% - (30px * 3)) / 4) );
                    }
                }
            }
        }
    }
}