nav{
    background-color: #333645;
    height: 99px;
    @media (max-width: 992px){
        display: none;
    }
    div.container{
        div{ 
            //nav-items
            display: flex;
            a{
                &:first-child{
                    @include nav-item($hoki);
                }
                &:nth-child(2){
                    @include nav-item($havelockBlue);
                }
                &:nth-child(3){
                    @include nav-item($shamrock);
                }
                &:nth-child(4){
                    @include nav-item($valencia);
                }
                &:nth-child(5){
                    @include nav-item($wisteria);
                }
                &:nth-child(6){
                    @include nav-item($radicalRed);
                }
                &:last-child{
                    @include nav-item($punch);
                }
            }
        }
    }
}