div.our-clients-carousel{
    div.slick-list{
        background-color: green;
        div.slick-track{
            display: flex;
            gap: 110px;
            padding: 50px 0 60px 0;
            position: relative;
            div.carousel-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100% !important;
                &:first-child{//black swan
                    @include carousel-item($buttercup)
                }
                &:nth-child(2){//beat
                    @include carousel-item(null)
                }
                &:nth-child(3){//survey solutions
                    @include carousel-item(null)
                }
                &:nth-child(4){//girl guiding
                    @include carousel-item($havelockBlue)
                }
                &:nth-child(5){//sweetzy
                    @include carousel-item($shamrock)
                }
                &:nth-child(6){//one traveller
                    @include carousel-item($wisteria)
                }
                &:last-child{//xupes
                    @include carousel-item(null)
                }
            }
        }
    }
}





// &:first-child{//black swan
                //     @include carousel-item(bs);
                // }
                // &:nth-child(2){//beat
                //     @include carousel-item(null);
                // }
                // &:nth-child(3){//survey solutions
                //     @include carousel-item(null);
                // }
                // &:nth-child(4){//girl guiding
                //     @include carousel-item(it);
                // }
                // &:nth-child(5){//sweetzy
                //     @include carousel-item(dm);
                // }
                // &:last-child{//one Traveller
                //     @include carousel-item(wd);
                // }