div#side-menu{
    background-color: #333645;
    width: 275px;
    position: absolute;
    top: 0;
    z-index: $side-menu_z-index;
    display: none;
    overflow: scroll;
    &.toggle-side-menu-in{
        display: block;
        animation-name: slide-in;
    }
    &.toggle-side-menu-out{
        animation-name: slide-out;
    }
    @media (min-width: 992px){
        width: 350px;
    }
    //////////////////////////////////////////////////////////
    div.side-menu-misc-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        a.side-menu-button, div.side-menu-misc-sublist{
            width: 231.4px;
            align-self: center;
            margin: 10px auto;
            text-transform: uppercase;
        }
        a.side-menu-button{
            &:first-of-type{
                @include side-menu--button(null);
            }
            &:nth-of-type(2){
                @include side-menu--button($hoki);
            }
            &:nth-of-type(3){
                @include side-menu--button($havelockBlue);
            }
            &:nth-of-type(4){
                @include side-menu--button($shamrock);
            }
            &:nth-of-type(5){
                @include side-menu--button($valencia);
            }
            &:nth-of-type(6){
                @include side-menu--button($wisteria);
            }
            &:nth-of-type(7){
                @include side-menu--button($radicalRed);
            }
            &:last-of-type{
                @include side-menu--button($punch);
            }
        }
        div.side-menu-misc-sublist{
            ul{
                list-style-type: none;
                width: 100%;
                margin: auto;
                margin-bottom: 14px;
                padding: 0;
                background-color: rgba(0,0,0,.25);
                border-radius: 5px;
                li{
                    border-top: 1px solid hsla(0, 0%, 100%, .1);
                    border-bottom: 1px solid rgba(0, 0, 0, .25);
                    padding: 10px;
                    font-size: .85rem;
                    // height: 52px;
                    display: flex;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: white;
                        text-align: center;
                        font-size: 1rem;
                    }
                }
            }
        }
        @media (min-width: 992px){
            display: none;
        }
    }
    /////////////////////////////////////////////////////////////////////////
    div.side-menu-list{
        @include side-menu--list;
        &.bg-scrn-only{
            display: none;
            @media (min-width: 992px){
                display: block;
            }
        }
    }
}

/* Keyframes/ Animations for Side Menu */
@media (max-width: 992px){
    @include slide-effect-keyframe(-275px);
}
@media (min-width: 992px){
    @include slide-effect-keyframe(-350px);
}