@import
    "cookie/index",
    "side-menu", 
    "header",
    "nav",
    "banner",
    "middle",
    "accreditations",
    "about-netmatters",
    "latest-news",
    "our-clients",
    "footer/index",
    "contact-us"
;