@mixin triangle($bg-color){
  position: relative;
  top: 1px;
  z-index: $nav-drop-down-triangle_z-index;
  border-style: solid;
  border-color: $bg-color transparent transparent transparent;
  border-width: 35px 68px 0;
  @media (min-width: 1220px){
    border-width: 35px 83.5px 0;
  }
}