@mixin triangle($bg-color){
  position: relative;
  z-index: $nav-drop-down-triangle_z-index;
  border-style: solid;
  border-color: $bg-color transparent transparent transparent;
  border-width: 35px 68px 0;
  &:not(#nav-item-triangle-bs){
    top: 1px;
  }
  @media (min-width: 1260px){
    border-width: 35px 83.5px 0;
  }
}