@mixin read-more-button($bg-color){
    width: 130px !important;
    height: 48px !important;
    background-color: $bg-color;
    border-color: $bg-color;
    color: white;
    text-align: center;
    letter-spacing: .4px;
    border: 1px solid transparent;
    //btn
    margin-top: 30px;
    padding: 5px 15px;
    font-size: 1.063rem;
    text-transform: uppercase;
    line-height: 35px;
    border-radius: 3px;
}