@mixin latest-news-categrogy-tag($bg-color){
    display: block;
    background-color: $bg-color;
    position: absolute;
    right: 0;
    top: 10px;
    color: #fff;
    font-size: .75rem;
    font-weight: 600;
    padding: 3.5px 10px;
    text-transform: uppercase;
    z-index: 50;
    &:hover{
        text-decoration: underline;
        outline: 0;
    }
}
////////////////////////////////////
@mixin read-more-button($bg-color){
    width: 130px !important;
    height: 48px !important;
    background-color: $bg-color;
    border-color: $bg-color;
    color: white;
    text-align: center;
    letter-spacing: .4px;
    border: 1px solid transparent;
    //btn
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 1.063rem;
    text-transform: uppercase;
    line-height: 35px;
    border-radius: 3px;
}