@mixin dropdown-option{
    *{color: white;}
    h3{
        margin-top: 15px;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.1;
    }
    div.dropdown-option-wrapper{
        display: flex;
        justify-content: space-between;
        ul{
            margin: -20px 0;
            padding-left: 0;
            display: inline-block;
            list-style-type: none;
            list-style-position: outside;
            li{
                box-sizing: border-box;
                line-height: 22.85px;
                margin: 30px 0;
                a{
                    font-size: 1.2rem;
                    line-height: 1.313rem;
                    display: block;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}