@mixin nav-item($color){
    display: block;
    width: calc((100% / 7));
    padding: 15px;
    font-size: 1.438rem;          
    text-align: center;
    position: relative;
    &:hover{
        background-color: $color;
        span:first-child{
            color: white;
        }
    }
    &:link{
        text-decoration: none;
    }
    &:link, &:visited{
        color: white;
    }
    div{
        text-transform: uppercase;
        display: inline-flex;
        flex-direction: column;
        padding: 2rem auto;
        *{
            text-align: center;
        }
        //icon
        span:first-child{
            color: $color;
            font-size: 1.438rem;
            display: block;
            padding-bottom: 10px;
        }//
        small{
            display: block;
            padding-bottom: 1px;
            font-size: .481rem;
        }
        span:last-child{
            display: inline-block;
            margin-top: -.2rem;
            font-size: 1.12rem;
        }
    }
    div.triangle{
        display: none;
        position: absolute;
        width: 0;
        margin: 0 auto;
        height: 20px;
        bottom: -40.5px;
        left: -1px;
        border-style: solid;
        border-width: 40px 68px 0 68px;
        border-color: $color transparent transparent transparent;
        transform: rotate(0deg);
        @media (min-width: 1220px){
            left: -1px;
            border-width: 40px 84px 0 84px;;
        }
    }
}
