@mixin side-menu--button($color){
    display: block;
    width: 757.4px;
    height: 233px;
    padding: 20px;
    font-size: 1.438rem;          
    text-align: center;
    &:hover{
        background-color: $color;
        span:first-child{
            color: white;
        }
    }
    &:link{
        text-decoration: none;
    }
    &:link, &:visited{
        color: white;
    }
    div{
        text-transform: uppercase;
        display: inline-flex;
        flex-direction: column;
        padding: 2rem auto;
        *{
            text-align: center;
        }
        //icon
        span:first-child{
            color: $color;
            font-size: 1.438rem;
            display: block;
            padding-bottom: 10px;
        }//
        small{
            display: block;
            padding-bottom: 1px;
            font-size: .481rem;
        }
        span:last-child{
            display: inline-block;
            margin-top: -.2rem;
            font-size: 1.12rem;
        }
    }
}

@mixin side-menu--list{
    *{
        font-weight: 400; 
        width: 100%;
    }
    a{
        text-decoration: none;
        color: white;
    }
    ul{
        list-style-type: none;
        list-style-position: inside;
        padding: 0;
        margin: 0;
        transition: .1s;
        &:hover{
            //only the leading li (heading) changes bgcolor
            li:first-child{
                    // background-color: #999aa2;
                    background-color: lighten(#333645, 3%);
                }
            }
        li{
            &:first-child{
                height: 56px;
                background-color: #333645;
                font-size: 1rem;
                a.first-child-a:before{
                    content: ">>";
                    display: inline-flex;
                    width: calc(47px / 2);
                    visibility: hidden;
                }
            }
            border-top: 1px solid hsla(0, 0%, 100%, .1);
            border-bottom: 1px solid rgba(0, 0, 0, .25);
            padding: 20px 0;
            font-size: .85rem;
            height: 52px;
            display: flex;
            align-items: center;
            //create double chevron right arrow/ french brackets
            a:not(.first-child-a):before{
                content: "»";
                width: 47px;
                display: inline-flex;
                justify-content: center;
                font-size: .9rem;
                letter-spacing: -4px;
                padding: 0;
                margin: 0;
                color: white;
            }
        }
    }
    @media (min-width: 992px){
        *.sm-scrn-only{
            display: none;
        }
    }
}

//slide effect keyframe
@mixin slide-effect-keyframe($side-menu-width){
    @keyframes slide-in{
        from {
            top: 0;
            right: $side-menu-width;
        }
        to {
            top: 0;
            right: $side-menu-width;
        }
    }
    @keyframes slide-out{
        from {
            top: 0;
            right: $side-menu-width;
        }
        to {
            top: 0;
            right: $side-menu-width;
        }
    }
}