@mixin tooltip($theme){
    background-color: #333645;
    color: #fff;
    padding: 20px 15px;
    font-size: .875rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        font-size: 1.125rem;
        font-weight: 400;
        margin: 0;
        line-height: 1.1;
        text-align: center;
    }
    p{
        padding: 10px;
        line-height: 1.6;
        text-align: center;
    }
    a{
        @include case-study-link($theme);
    }
}