div#footer-contatiner-wrapper{
    background: #212330;
    div.container{
        div#main-footer{
            overflow: hidden;
            margin: 0 auto;
            // line-height: 1.375rem;
            // font-stretch: ultra-expanded;
            letter-spacing: .04rem;
            display: flex;
            flex-direction: column;
            p{
                color: white;
                font-size: .8125rem;
                margin: 0 !important;
                // padding: 2px 0 10px;
                &:first-child{
                    padding-top: 10px;
                }
                &:last-child{
                    margin-bottom: -1.2px;
                    padding-bottom: 10px;
                }
            }
            @media (min-width: 768px){
                padding-top: 10px;
                flex-direction: row;
                p{
                    &:first-child{
                        padding-top: 0;
                    }
                    &:nth-child(2)::before{
                        content: $nbspace;
                    }
                    &:last-child::before{
                        content: "#{$nbspace} - #{$nbspace}";
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}