//carousel
@mixin client-partners-logo{
    img{
        // width: 100%;
        max-height: 70px;
        margin: 0 auto;
        transform-style: preserve-3d;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
    }
}