@mixin tooltip-arrow{
    max-width: 280px;
    width: 50px;
    border-style: solid;
    border-width: 35px 36px 0;
    border-color: #333645 transparent;
    margin-left: 100px;
    z-index: 5;
    position: relative;
    bottom: -30px;
}