@mixin banner-body($image-id){
    height: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    color: white;
    div.wrapper{
        height: 360.6px;
        padding-top: 20%;
        h1{
            font-size: 2.5rem;
            line-height: 3rem;
            margin: 0 0 1.25rem;
            color: #fff;
            font-weight: 600;
        }
        p{
            margin-bottom: .375rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }
        a{
            margin-top: 1.938rem;
            margin-bottom: 1.125rem;
            color: #fff;
            // bg and col go here
            background-color: get-banner--button--bg-color($image-id);
            border-color: get-banner--button--bg-color($image-id);
            //
            line-height: 50px;
            width: 249.717px;
            // width: 224.467px;
            height: 61.6px;
            padding: 5px 20px;
            font-size: 1.25rem;
            text-transform: uppercase;
            border-radius: 3px;
            //btn
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            border: 1px solid transparent;
            &:hover{
                background-color: #7e57a0;
                border-color: #735093;
            }
        }
    }
    @media (min-width: 992px){
        div.wrapper{
            padding-top: get-banner--body-wrapper--padding-top($image-id);
            text-align: left;
            h1{
                font-size: 4rem !important;
                line-height: 5rem !important;
            }
            p{
                font-size: 1.625rem;
                line-height: 2.5rem;
            }
            a{
                align-self: flex-start;
            }
        }
    }
}