@mixin banner-item($image-id){
    div.banner-item-container{
        div.bg-image-container{
            height: 550px !important;
            background-attachment: local;
            background-size: cover;
            background-position: center;
            background-color: rgb(94, 91, 91);
            
            div.#{$image-id}{
                position: relative;
                background-image: linear-gradient(to right, #1b1c24, transparent);
                @media (min-width: 992px){
                    background-image: linear-gradient(to right, black, transparent);
                }
                @include banner-body($image-id);
            }
        }
    }
}