//carousel
@mixin client-partners-logo{
    img{
        max-height: 70px;
        min-height: 50px;
        margin: 0 auto;
        transform-style: preserve-3d;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
        &.living-wage-logo{
            width: 88px;
        }
        &.norfolk-prohelp-logo{
            width: 171px; 
        }
        &.investing-in-future-growth-logo{
            width: 175px;
            height: 58px;
        }
        &.norfolk-norfolk-carbon-charter-logo{
            width: 173px;
        }
        &.ppc-logo{
            width: 174px; 
        }
        &.princess-royal-training-logo{
            width: 274px;
        }
        &.future-50-logo{
            width: 44px;
        }
        &.qms-logo{
            width: 142px;
        }
        &.iso-27001-logo{
            width: 142px;
        }
        &.skills-of-tomorrow-logo{
            width: 175px;
            height: 58px;
        }
        &.cyber-essentials-logo{
            width: 149px;
        }
        &.google-partners-logo{
            width: 169px;
        }
        &.ashcroft-logo{
            width: 169px;
        }
    }
}