div.triangles{
    background-color: green;
    display: flex;
    div.triangle{
        width: 100%;
        &:first-child{
            @include triangle($hoki);
        }
        &:nth-child(2){
            @include triangle($havelockBlue);
        }
        &:nth-child(3){
            @include triangle($shamrock);
        }
        &:nth-child(4){
            @include triangle($valencia);
        }
        &:nth-child(5){
            @include triangle($wisteria);
        }
        &:nth-child(6){
            @include triangle($radicalRed);
        }
        &:last-child{
            @include triangle($punch);
        }
    }
}